Repository RegulusRizal/AMELIA-Mini, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, ui/ux, configuration, documentation, testing, security, module:users, module:hr, module:finance, module:inventory, module:pos, dependencies, ci/cd, performance, types, build, components, server-actions, utilities

.github/labeler.yml:

# Configuration for GitHub labeler action
# This file defines which labels to apply based on file changes

# Frontend related changes
frontend:
  - app/**/*.tsx
  - app/**/*.ts
  - app/**/*.css
  - components/**/*
  - lib/client/**/*

# Backend/API changes
backend:
  - app/api/**/*
  - lib/supabase/**/*
  - lib/server/**/*

# Database changes
database:
  - supabase/migrations/**/*
  - supabase/**/*
  - '**/*.sql'

# UI/UX changes
ui/ux:
  - app/**/*.tsx
  - components/ui/**/*
  - '**/*.css'
  - tailwind.config.ts

# Configuration changes
configuration:
  - '*.json'
  - '*.config.*'
  - '.env*'
  - '.github/**/*'

# Documentation changes
documentation:
  - '**/*.md'
  - docs/**/*
  - README.md
  - ARCHITECTURE.md
  - CLAUDE.md

# Testing changes
testing:
  - '**/*.test.*'
  - '**/*.spec.*'
  - __tests__/**/*
  - tests/**/*
  - cypress/**/*

# Security related changes
security:
  - app/auth/**/*
  - middleware.ts
  - lib/supabase/**/*
  - supabase/migrations/*_rls*.sql

# Module specific labels
module:users:
  - app/(modules)/users/**/*
  - app/users/**/*

module:hr:
  - app/(modules)/hr/**/*
  - app/hr/**/*

module:finance:
  - app/(modules)/finance/**/*
  - app/finance/**/*

module:inventory:
  - app/(modules)/inventory/**/*
  - app/inventory/**/*

module:pos:
  - app/(modules)/pos/**/*
  - app/pos/**/*

# Dependency updates
dependencies:
  - package.json
  - package-lock.json
  - yarn.lock
  - pnpm-lock.yaml

# CI/CD changes
ci/cd:
  - .github/workflows/**/*
  - .github/actions/**/*
  - vercel.json
  - Dockerfile

# Performance related
performance:
  - next.config.js
  - app/**/*loading.tsx
  - app/**/*suspense.tsx

# Type definitions
types:
  - '**/*.d.ts'
  - types/**/*
  - lib/types/**/*

# Build related
build:
  - next.config.js
  - tsconfig.json
  - webpack.config.js
  - postcss.config.js
  - tailwind.config.ts

# Component library
components:
  - components/**/*
  - app/components/**/*

# Server actions
server-actions:
  - app/**/actions.ts
  - app/**/actions/**/*

# Utilities
utilities:
  - lib/utils/**/*
  - lib/helpers/**/*
  - utils/**/*

fix: await createClient() in logging integration example
  lib/logging/integration-example.ts
Labels: none

fix: await all createClient() calls in logging integration example
  lib/logging/integration-example.ts
Labels: none

fix: temporarily disable TypeScript/ESLint checks for deployment
  next.config.js
Labels: configuration, performance, build

fix: disable optimizeCss experimental feature for deployment
  next.config.js
Labels: configuration, performance, build

fix: Edge Runtime compatibility and security fixes for middleware
  CRITICAL_FIX_PLAN.md
  MIDDLEWARE_FIX_PLAN.md
  lib/logging/integration-example.ts
  lib/logging/service.ts
  lib/modules/user-management/queries.ts
  middleware.ts
  next.config.js
  package-lock.json
  package.json
Labels: configuration, documentation, security, dependencies, performance, build

fix: critical User Management and RLS issues
  lib/cache/data-fetchers.ts
  package-lock.json
  package.json
  supabase/migrations/006_fix_user_roles_rls_policy.sql
  supabase/migrations/007_fix_rls_recursion.sql
  supabase/migrations/20250906083354_fix_profiles_user_roles_relationship.sql
Labels: database, configuration, security, dependencies
